<!-- stock chart -->
<div id="chart">
  <md-card>
    <md-card-content>
      <md-toolbar>Stocket</md-toolbar>
      <div id="graph-area">
        <div *ngIf="!stockData.length > 0">
          <h1 class="text-center">Enter a stock symbol below to get started!</h1>
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>


<!-- stock cards -->
<div class="flex-container">
  <div *ngFor="let stock of stocks; let myIndex = index">
    <md-card>
      <md-toolbar class="{{ 'color' + (myIndex % 20) }}">
        {{ stock.symbol }}&nbsp;({{ stock.exchange }})
        <span class="app-toolbar-filler"></span>
        <button md-button (click)="deleteStock(myIndex)">X</button>
      </md-toolbar>
      <md-card-content>
        <h3 class="padding-top-16 padding-left-16 margin-bottom-8 padding-right-16">{{ stock.name }}</h3>
        <h3 class="padding-left-16 margin-top-8" *ngIf="stock.currency == 'USD' && stock.currentPrice != null">${{ stock.currentPrice + ' (' + stock.percentChange + ')' }}</h3>
        <h3 class="padding-left-16 margin-top-8" *ngIf="stock.currency != 'USD' && stock.currentPrice != null">{{ stock.currentPrice }}</h3>
        <h3 class="padding-left-16 margin-top-8" *ngIf="stock.currentPrice == null">No current price data available</h3>
      </md-card-content>
    </md-card>
  </div>
</div>

<!--add a stock form -->
<div class="flex-container" id="stock-form">
  <md-card>
    <md-card-content>
      <form [formGroup]="stockForm">
        <md-input-container>
          <!-- mdAutocomplete="" -->
          <input type="text" mdInput placeholder="Enter a stock symbol (e.g. GOOG)" formControlName="stock" id="stock">
        </md-input-container>
        <div class="flex-container">
          <span class="app-toolbar-filler"></span>
          <button type="submit" md-raised-button color="primary" (click)="sendStock()">Add</button>
          <span class="app-toolbar-filler"></span>
        </div>
      </form>
    </md-card-content>
  </md-card>
</div>
