/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* elements */
body {
    font-family: 'Handlee', cursive;
    margin: 0;
    background-color: rgba(235,101,69,0.1);
}

md-card-content {
    margin: auto;
    padding: 0px 0px 0px 0px;
}

form {
    padding: 16px 16px 16px 16px;
    margin: 16px;
}

md-toolbar a {
    color: inherit;
    text-decoration: inherit;
}

md-sidenav-container {
    min-height: 93vh;
}

md-card {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    min-width: 326px;
}

/* classes */
.title-bar {
    font-weight: normal;
}

.app-content {
    padding: 10px;
}

.app-content md-card {
    margin: 10px;
}

.app-sidenav {
    padding: 10px;
    min-width: 175px;
}

.nav-list-button {
    width: 100%;
}

.app-content md-checkbox {
    margin: 10px;
}

.app-toolbar-filler {
    flex: 1 1 auto;
}

.app-icon-button {
    box-shadow: none;
    user-select: none;
    background: none;
    border: none;
    cursor: pointer;
    filter: none;
    font-weight: normal;
    height: auto;
    line-height: inherit;
    margin: 0;
    min-width: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-image {
    width: 100%;
    height: 530px;
}

.logo {
    display: block;
    height: 70px;
}

.logo-small {
    height: 50px;
}

.mat-input-container {
    width: 275px;
    margin-top: 5px;
    font-size: 1.25em;
    padding-top: 16px;
}

.alert-failure {
    color: white;
    border-radius: 2px;
    padding: 5px 5px 5px 18px;
    margin-bottom: 10px;
    background:#F44336;
    border:1px solid red;
}

.alert-success {
    color: white;
    border-radius: 2px;
    padding: 5px 5px 5px 18px;
    margin-bottom: 10px;
    background:#4CAF50;
    border:1px solid green;
}

.subtitle {
    font-size: 1.5em;
    display: block;
    padding-top: 2px;
    padding-left: 2px;
}

.social-button {
    flex: 1 1 auto;
    margin: 0px 16px 8px 16px !important;
    padding: 8px 0px !important;
}

.left-padding {
    padding-left: 16px;
}

.padding-left-16 {
    padding-left: 16px !important;
}

.padding-right-16 {
    padding-right: 16px !important;
}

.padding-top-8 {
    padding-top: 8px !important;
}

.padding-top-16 {
    padding-top: 16px !important;
}

.search-image {
    width: 90%;
    /*height: 200px;*/
    opacity: 0.9;
    /*margin: auto;*/
}

.overflow-hidden {
    overflow: hidden;
}

.height200 {
    height: 140px;
}

.info-title {
    margin-top: 2px;
    text-decoration: underline;
}

.margin-top-2 {
    margin-top: 2px;
}

.margin-top-8 {
    margin-top: 8px;
}

.margin-bottom-8 {
    margin-bottom: 8px;
}

.margin-top-0 {
    margin-top: 0px;
}

.margin-bottom-0 {
    margin-bottom: 0px;
}

.width100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.color0 {
    background-color: rgba(51,102,204,0.3);
}

.color1 {
    background-color: rgba(220,57,18,0.3);
}

.color2 {
    background-color: rgba(255,153,0,0.3);
}

.color3 {
    background-color: rgba(16,150,24,0.3);
}

.color4 {
    background-color: rgba(153,0,153,0.3);
}

.color5 {
    background-color: rgba(59,62,172,0.3);
}

.color6 {
    background-color: rgba(0,153,198,0.3);
}

.color7 {
    background-color: rgba(221,68,119,0.3);
}

.color8 {
    background-color: rgba(102,170,0,0.3);
}

.color9 {
    background-color: rgba(184,46,46,0.3);
}

.color10 {
    background-color: rgba(49,99,149,0.3);
}

.color11 {
    background-color: rgba(153,68,153,0.3);
}

.color12 {
    background-color: rgba(34,170,153,0.3);
}

.color13 {
    background-color: rgba(170,170,17,0.3);
}

.color14 {
    background-color: rgba(102,51,204,0.3);
}

.color15 {
    background-color: rgba(230,115,0,0.3);
}

.color16 {
    background-color: rgba(139,7,7,0.3);
}

.color17 {
    background-color: rgba(50,146,98,0.3);
}

.color18 {
    background-color: rgba(85,116,166,0.3);
}

.color19{
    background-color: rgba(59,62,172,0.3);
}

/* id's */
#chart {
    width: 80%;
    margin: auto;
    padding-top: 16px !important;
}

#graph-area {
    /*min-height: 40vh;*/
    padding-left: 32px !important;
    padding-top: 40px !important;
    padding-right: 24px !important;
}

#graph {
    min-height: 40vh;
}